{% extends 'main_template.html' %}
{% load bootstrap %}
{% block title %} login {%  endblock %}

{% block page %}


        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">log in</h5>
                <form method="post">
                    {% csrf_token %}
                    {{form|bootstrap}}
                     <button type="submit">log in</button>
                </form>
          </div>
        </div>
    <a href="{% url 'all_books' %}"><h3>back</h3></a>
{%  endblock %}